<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>Course Confirmation</h1>
    Id: <span th:text="${classroom.id}"></span><br />
    Course Id: <span th:text="${classroom.courseid}"></span><br />
    Passcode:  <span th:text="${classroom.passcode}"></span><br />
    Head Shot: <span th:text="${classroom.headshot}"></span><br />
    Teacher: <span th:text="${classroom.teacherName}"></span><br />
    Course Name:  <span th:text="${classroom.courseName}"></span>
</table>
</body>
</html>